.hero {
  display: flex;
  flex-direction: column;
width: 320px;
background-color: #68b738;
opacity: 85%;
margin: 0;
    .hero__title {
color: #ffffff;
letter-spacing: 0%;
margin: 0 auto;
padding: 27px 16px 25px;
}

    .hero__slogan {
      color: #ffffff;
    }
}
