.hero {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
width: 320px;
min-height: 480px;
margin: 0;

.hero__content {
  width: 320px;
  height: 320px; // ! Q нужна ли здесь высота?
  background-color: #68b738;
  background-blend-mode: overlay;
  //background-size:cover;
  //background-repeat: no-repeat;
  opacity: 85%;
  }

.hero__title {
  width: 280px;
  color: #ffffff;
  text-align: center;
  //margin: 0 auto;
padding: 27px 16px 25px;
}

.hero__slogan {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding: 0 62px 164px;
  }

  .hero__button {
  position:absolute;
  bottom: 0;
  margin: 0 0 20px 0;
  }
}




