.usage {
  padding: 0 20px;

  .usage__title {
    margin-bottom: 40px;
    }

    .usage__list {
      width: 280px;
      margin: 0;
    }

    .usage__item {
      padding: 0 0 20px 80px;
    }

    .usage__item:last-child {
      padding: 0 0 0 80px;
    }

    .usage__item:last-child {
      margin-bottom: 74px;
    }
}





