.contacts {
width: inherit;

  .contacts--darker {
  background-color: #f2f2f2;
  }
  .contacts__text {
  padding: 26px 20px;
  }

  .contacts__invitation {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  }

  .contacts__address {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  }
}


