.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__list {
  margin: 0 0 22px 0;
  padding: 0;
}

.form__item {
  display: flex;
  justify-content: flex-start; // надо разобраться с шириной инпутов под макет!
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 14px 0;
  padding: 0;
}

.label__form {
  padding: 0 15px 0 0;
}

.label__weight,
.label__extras {
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 0 15px;
}

//.label__weight:last-child {
//margin: 0 0 19px 0;
//}

.form__text {
  padding: 0 13px 0 0;
}

.form__data,
.form__extras {
  width: 280px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0 0 35px 0;
  padding: 0;
}

.form__comments {
  width: 280px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0 0 38px 0;
  padding: 0;
}

.required-fields {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin: 0 0 32px;
  padding: 0 64px;
}

.placeholder {
  width: 280px;
  height: 150px;
  font-family: "Oswald", serif;
  font-size: 16;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 23px 0;
}

.button--application {
  margin: 0 0 20px 0;
}
