.gift {
  width: 280px;
  min-height: 290px;
  background-image: url("/source/img/cat-bag.jpg"); // в этом блоке у меня проблемы в частности с размерами области, закрашенной зеленым (паддинги ее не ограничивают почему-то)
  background-repeat: no-repeat;
  //background-size: ;
  background-color: #68b738;
  opacity: 85%;
  margin: 0 0 35px 0;
  padding: 0 20px;
}

.gift__conditions {
  width: 280px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
