@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
html {
  width: 320px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Lato", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  outline: solid 3px #ff0000;
}

.page__body {
  width: 320px;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  font-weight: normal;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  width: 280px;
  height: 40px;
  font-family: "Oswald", serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #68b738;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  margin: 0;
}

.button--light {
  color: #444444;
  background-color: #f2f2f2;
}

.visually-hidden {
  font-family: serif;
  font-size: 8px;
  color: #ff0000;
  margin: 0;
  padding: 0;
}

.contacts {
  width: inherit;
}

.contacts--darker {
  background-color: #f2f2f2;
}

.contacts__text {
  display: flex;
}

.contacts__invitation {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: start;
  color: #111111;
  margin: 0 0 26px 0;
  padding: 26px 0 0 20px;
}

.contacts__address {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #444444;
  margin: 0 0 26px 0;
  padding: 26px 20px 0 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 21px 14px 20px;
}

.header--catalog,
.header--form {
  margin: 0 0 27px 0;
}

.navigation {
  width: 320px;
  margin: 0 0 27px 0;
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
}

.navigation__item {
  text-align: center;
  margin-bottom: 46px;
}

.navigation__item:last-child {
  margin-bottom: 24px;
}

.navigation__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 20px;
  color: #000000;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  min-height: 480px;
  margin: 0;
}

.hero__content {
  min-height: 302px;
  background-color: #68b738;
  opacity: 85%;
}

.hero__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 27px 30px 25px;
}

.hero__slogan {
  font-family: "Oswald", serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0 20px;
}

.hero__button {
  position: absolute;
  bottom: 0;
  line-height: 20px;
  letter-spacing: 0;
  margin: 0 0 20px 0;
}

.program__list {
  text-decoration: none;
  margin: 0 0 20px 0;
  padding: 0 20px;
}

.program__item {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.program__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  margin-bottom: 29px;
  padding: 30px 80px 0 90px;
}

.program__title--slim {
  padding: 30px 80px 0 90px;
}

.program__title--pro {
  padding: 30px 52px 0 90px;
}

.program__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0 auto 38px;
  padding: 0 20px;
}

.program__catalog {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  padding: 0 20px;
  margin: 0 0 18px 0;
}

.usage {
  padding: 0 20px;
}

.usage__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  margin-bottom: 40px;
}

.usage__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding: 0;
}

.usage__list {
  width: 280px;
  text-decoration: none;
  list-style-type: none;
  margin: 0 0 49px 0;
  padding: 0;
}

.usage__item {
  padding: 0 0 20px 80px;
}

.usage__item:last-child {
  padding: 0 0 0 80px;
  margin-bottom: 74px;
}

.example {
  width: 280px;
  background-color: #eaeaea;
  padding: 0 20px;
}

.example__title {
  font-family: "Oswald", serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  text-align: left;
  margin: 0 0 40px 0;
  padding: 25px 85px 0 0;
}

.example__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0 auto 20px;
  padding: 0;
}

.example__report {
  display: flex;
  flex-direction: column;
}

.example__report__list {
  margin: 0 0 20px 0;
}

.example__report__item {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 100%;
}

.example__report__item--small {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.example__report__amount {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.example__report__amount:last-child {
  margin-bottom: 20px;
}

.questionary {
  width: 280px;
  margin: 0 0 26px 0;
  padding: 0 20px;
}

.questionary__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  line-height: 36px;
  margin: 0 0 37px 0;
  padding: 0;
}

.questionary__text {
  font-family: "Oswald", serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 39px 0;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__list {
  margin: 0 0 22px 0;
  padding: 0;
}

.form__item {
  display: flex;
  justify-content: flex-start;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 14px 0;
  padding: 0;
}

.label__form {
  padding: 0 15px 0 0;
}

.label__weight,
.label__extras {
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 0 15px;
}

.form__text {
  padding: 0 13px 0 0;
}

.form__data,
.form__extras {
  width: 280px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0 0 35px 0;
  padding: 0;
}

.form__comments {
  width: 280px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0 0 38px 0;
  padding: 0;
}

.required-fields {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin: 0 0 32px;
  padding: 0 64px;
}

.placeholder {
  width: 280px;
  height: 150px;
  font-family: "Oswald", serif;
  font-size: 16;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 23px 0;
}

.button--application {
  margin: 0 0 20px 0;
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  padding: 0 20px;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  line-height: 36px;
  margin: 0 0 41px 0;
  padding: 0 23px 0 20px;
}

.catalog__list {
  list-style-type: none;
  margin: 0 0 26px 0;
  padding: 0 20px;
}

.catalog__item {
  margin: 0 0 20px 0;
}

.catalog__item--more {
  margin: 0 0 25px 0;
}

.product {
  width: 280px;
}

.product__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.product__name__link {
  color: #222222;
}

.product__name--more {
  padding: 78px 30.5px 0;
  margin: 0 0 8px 0;
}

.product__more {
  margin: 0 0 21px 0;
  padding: 0 10.5px;
}

.product__info {
  margin: 0 0 17px 0;
}

.product__parameter,
.product__essence {
  font-family: "Lato", serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__essence:last-child {
  margin: 0 0 21px 0;
}

.product__button {
  margin: 0 0 25px 0;
}

.extras {
  width: 280px;
  padding: 0 20px;
}

.extras__title {
  font-family: "Oswald", serif;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 49px 0;
  padding: 0 24px 0 0;
}

.extras__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.extras__item:not(:last-child) {
  margin: 0 0 31px 0;
}

.extras__item:last-child {
  margin: 0 0 54px 0;
}

.extras__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0 0 13px 0;
}

.extras__link {
  color: #222222;
}

.extras__info {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
}

.extras__quantity,
.extras__price,
.extras__amount {
  font-family: "Lato", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.extras__button {
  margin: 0;
}

.gift {
  width: 280px;
  min-height: 290px;
  background-image: url("/source/img/cat-bag.jpg");
  background-repeat: no-repeat;
  background-color: #68b738;
  opacity: 85%;
  margin: 0 0 35px 0;
  padding: 0 20px;
}

.gift__conditions {
  width: 280px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.footer {
  width: 320px;
  min-height: 240px;
  background-color: #f2f2f2;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.developer {
  width: 280px;
  margin: 0;
}

.social__list {
  width: 280px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  margin: 0 0 40px 0;
  padding: 0;
}

.developer {
  width: 280px;
  display: flex;
  justify-content: center;
}
/*# sourceMappingURL=style.css.map */