.catalog {
  width: 320px;
}

.product {
  .product__name {
font-family: "Oswald", sans-serif;
font-size: 16px;
line-height: 20px;
//color: #222222;
text-transform: uppercase;
a {
  color: #222222;
}
}
}
