.gift {
  width: 280px;
  height: 290px;
  background-image: url("/source/img/cat-bag.jpg");
  background-repeat: no-repeat;
  //background-size: ;
  background-color: #68b738;
  opacity: 85%;
  padding: 0 20px;

  .gift__conditions {
    font-family: "Lato" serif;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    padding: 187px 61px 43px 58px;
  }
}
