.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__item {
  display: flex;
  justify-content: space-between;
  font-family: "Oswald", serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 14px 0;
  padding: 0;
}

.form__data, .form__comments, .form__extras {
  width: 280px;
font-family: "Oswald";
font-size: 24px;
line-height: 26px;
color: #000000;
margin: 0 0 35px 0;
padding: 0;
}

.required-fields {
  padding: 21px 63px 32px 64px;
}

.placeholder {
  width: 280px;
  height: 150px;
  margin: 0 0 23px 0;
}


