.questionary {
  width: 280px;
  padding: 0 20px;

  .questionary__title {
    margin: 0 0 37px 0;
  }

  .questionary__text {
    font-family: "Oswald", serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    margin: 0 0 39px 0;;
  }
}
