//regular
@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}

//regular
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2;") format("woff2");
}

//medium
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
