html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  //align-items: center;
  width: 320px;
  height: 100%;
  font-family: "Lato", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  //padding: 0; //! Q нужны ли отступы именно в бади?
}

ul {
list-style-type: none;
padding: 0; // обнуляю, чтобы не мешали
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  line-height: 36px;
}

h2 {
  font-family: "Oswald";
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  margin: 0 auto;
}

//.visually-hidden { } еще не придумал, что делать с этим классом

.button {
  width: 280px;
  height: 40px;
    background-color: #68b738;
    border: none;
    color: #ffffff;
    padding: 10px 10px; // паддинги ширины слишком велики пока что
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

p {
  font-family: "Lato";
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}


