html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  font-family: "Lato", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  padding: 0; //! Q нужны ли отступы именно в бади?
}

ul {
list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  line-height: 36px;
}

h2 {
  font-family: "Oswald";
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
}

//.visually-hidden { } что делать с этим классом?


