html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  //align-items: center;
  width: 320px;
  height: 900%; // ! выставил так много, тк при 100% охватывает только шапку
  font-family: "Lato", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  //padding: 0 20px;
  outline: solid 5px #ff0000;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl {
  margin: 0;
  padding: 0;
  list-style-type: none;
  }

a {
  display: block;
  text-decoration: none;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 37px; // ?
  color: #000000;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  font-size: 8px;
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  width: 280px;
  height: 40px;
  font-size: 16px;
  color: #ffffff;
  background-color: #68b738;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  margin: 0;
}

.button--light {
color: #444444;
background-color: #f2f2f2;
}


p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding: 0;
}

.main-container {
display: flex;
flex-direction: column;
margin: 0;
//padding: 0 20px; // ! разобраться с паддингами секций и общего main контейнера
}
